{% extends 'base.html' %}

{% block main_content %}
<main class="p-10 w-full">
    <div class="flex justify-end mb-4 px-4 items-center">
        <a href="{{ request.META.HTTP_REFERER }}"
           class="flex items-center text-sm border px-4 py-1 rounded hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor"
                 class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"/>
            </svg>
            Back
        </a>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="text-sm italic subpixel-antialiased">
            {{ bakery.about|safe }}
        </div>
        <div>
            <img src="{{ bakery.logo.url }}" alt="{{ bakery.name }}">
        </div>
    </div>
</main>
{% endblock main_content %}
