{% extends 'base.html' %}
{% block title %}Payment{% endblock %}

{% block main_content %}
<div class="max-w-xl mx-auto mt-10 bg-white shadow p-8 rounded-lg">
    <div class="flex items-center justify-between">
        <h2 class="text-2xl font-bold text-gray-800 px-6 py-4 border-b">Select Payment Method</h2>
        <a href="{{ request.META.HTTP_REFERER }}" class="flex items-center border-2 px-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor"
                 class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"/>
            </svg>
            Back
        </a>
    </div>

    <form method="POST" action="{% url 'place_order' %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="quantity" value="{{ quantity }}">
        <input type="hidden" name="total_amount" value="{{ total_amount }}">
        <input type="hidden" name="address_id" value="{{ address.id }}">
        <input type="hidden" name="weight" value="{{ weight }}">


        <label class="flex items-center gap-2 mb-6">
            <input type="radio" name="payment_method" value="COD" required>
            Cash on Delivery ({{ bakery.country.currency_symbol }} {{ total_amount }})
        </label>

        <button type="submit" class="w-full bg-green-600 text-white py-3 rounded hover:bg-green-700">
            Pay {{ bakery.country.currency_symbol }} {{ total_amount }} on Delivery
        </button>
    </form>
</div>
{% endblock %}
